:root{
    --mainColor: #15202b;
    --secondaryColor:#192734; 

    --borderColor: #164d56;

    --mainText: #fff;
    --secondaryText: #eeeeee;

    --font1: 'Cambay', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Roboto Serif', serif;

    --themeDotBorder: #ffff;
    --previewBg: rgb(25, 39, 52, 0.8);
    --previewShadow: #111921; 

    --buttonColor: #17a2b8; 
}