:root{
    --mainColor: #606b56;
    --secondaryColor:#515a48;

    --borderColor: #161914;

    --mainText:#fff;
    --secondaryText: #eeeeee;

    --font1: 'Cambay', sans-serif;
    --font2: 'Poppins', sans-serif;
    --font3: 'Roboto Serif', serif;

    --themeDotBorder: #fff;
    --previewBg: rgb(81, 90, 72, 0.8);
    --previewShadow: #2a2f25; 

    --buttonColor: #293629; 
}